# Autotools droppings
.deps
.libs
.dirstamp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing

# Build droppings
*.o
/com.endlessm.EknServices.json
/eks-search-provider-v1
/search-provider/com.endlessm.EknServices.SearchProviderV1.service
/search-provider/eks-knowledge-app-dbus.[ch]
/search-provider/eks-search-provider-dbus.[ch]

# Test builds droppings
/build
/.flatpak-builder

# Editor tempfiles
*~
\#*\#
